{% extends 'base.html.twig' %}

{% block title %}symfony-questionnaire{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Symfony-Questionnaire</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Questionnaire Generator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">

    <img src="{{ asset('build/menu-button.svg') }}" class="menu-icon" alt="MENU logo" onclick="openmenu()">

    <div class="menu-box" id="menu">
        <div class="right-links">
            <a class="get-started" href="#">Get started</a>
            <a class="close" href="#" onclick="closemenu()">Close</a>
        </div>
        <div class="menu-links">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Create an account</a>
            <a href="#">Sign in</a>
        </div>
    </div>

    <div class="menu-button">
        <div class="col">
            <div class="row">
                <button type="button" class="btn btn-primary btn-lg">Sign In</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-secondary btn-lg">Create an account</button>
            </div>
        </div>
    </div>
</div>

<script>
var menu = document.getElementById("menu");

function closemenu() {
    menu.style.top = "-100vh";
}

function openmenu() {
    menu.style.top = "17%";
}
</script>

{% endblock %}
