{% extends 'base.html.twig' %}

{% block title %}symfony-questionnaire{% endblock %}

{% block body %}
<style>
    .accueil { 
        padding: 2px 6px;
    }
</style>

<div class="accueil">
Welcome to the Symfony questionnaire application.
<br><br><br>

In this application, you will be able to generate a series of 20 questions to test your knowledge and challenge yourself!
<br><br>
You will different topics and you can choose a maximum of two topics before generating your questionnaire.
<br>
Moreover, you will could choose also change the number of question to 10 if you you prefer a short questionnaire.
<br>
The result will be shown after submitting.

</div>
{% endblock %}
